<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>유치원</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> 

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">


  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="main.html">유치원</a>
              </div>
            </header>

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>스트리머공고</h1>
                    <p>스트리머 공고</p>
                  </div>
                </div>
              </div>
            </div>


            <section class="tables">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-heading">
                      <h2>편집자 구직</h2>
                    </div>
                    <div class="default-table">
                      <table>
                        <thead>
                          <tr>
                            <th>게시물 번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>#1011</td>
                            <td><a href="/editor1.html">신입 편집자입니다 </a></td>
                            <td>김**</td>
                          </tr>
                          <tr>
                            <td>#1012</td>
                            <td><a href="/editor2.html">유튜브 게임편집 전문</a></td>
                            <td>송**</td>
                          </tr>
                          <tr>
                            <td>#1013</td>
                            <td><a href="/editor3.html">요리영상 브이로그영상 편집해요</a></td>
                            <td>고**</td>
                          </tr>
                          <tr>
                            <td>#1014</td>
                            <td><a href="/editor4.html">유튜브 영상편집/썸네일 제작까지 가능한 편집자!</a></td>
                            <td>이**</td>
                          </tr>
                          <tr>
                            <td>#1015</td>
                            <td><a href="/editor5.html">먹방전문으로 합니다</a></td>
                            <td>박**</td>
                          </tr>
                        </tbody>
                      </table>
                      <ul class="table-pagination">
                        <li><a href="#">이전</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">다음</a></li>
                      </ul>
                    </div>
            </section>




          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>

            <!-- Menu -->
           <nav id="menu">
              <ul>
                <li><a href="main.html">Main</a></li>
                <li>
                  <span class="opener">모집</span>
                  <ul>
                    <li><a href="/albamon.html"> 편집자 모집 </a></li>
                    <li><a href="/albahaven.HTML"> 스트리머 공고 </a></li>
                  </ul>
                </li>
                <li>
                  <span class="opener">게시판</span>
                  <ul>
                    <li><a href="#">게시판</a></li>
                    <li><a href="#">QnA 게시판</a></li>
                  </ul>
                </li>
            </nav>

            <!-- Featured Posts -->
            <div class="featured-posts">
              <div class="heading">
                <h2>광고리스트</h2>
              </div>
              <div class="owl-carousel owl-theme">
                <a href="#">
                  <div class="featured-item">
                    <img src="../static/images/woo.jpg" alt="featured one">
                    <p>광고문의</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="../static/images/woo.jpg" alt="featured two">
                    <p>광고문의</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="../static/images/woo.jpg" alt="featured three">
                    <p>광고문의</p>
                  </div>
                </a>
              </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2019 Company Name
              <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
   <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/transition.js"></script>
    <script src="../static/js/owl-carousel.js"></script>
    <script src="../static/js/custom.js"></script>
</body>


  </body>

</html>
