<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>유치원</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">
  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="main.html">유치원</a>
              </div>
            </header>

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>에디터프로필5</h1>
                    <p>1111</p>
                      <img src="../static/images/ae.png" alt="featured one" height=200 width=100>
                  </div>
                </div>
              </div>
            </div>





          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>

            <!-- Menu -->
           <nav id="menu">
              <ul>
                <li><a href="main.html">Main</a></li>
                <li>
                  <span class="opener">모집</span>
                  <ul>
                    <li><a href="/albamon.html"> 편집자 모집 </a></li>
                    <li><a href="/albahaven.html"> 스트리머 공고 </a></li>
                  </ul>
                </li>
                <li>
                  <span class="opener">게시판</span>
                  <ul>
                    <li><a href="#">게시판</a></li>
                    <li><a href="#">QnA 게시판</a></li>
                  </ul>
                </li>
            </nav>

            <!-- Featured Posts -->
            <div class="featured-posts">
              <div class="heading">
                <h2>광고리스트</h2>
              </div>
              <div class="owl-carousel owl-theme">
                <a href="#">
                  <div class="featured-item">
                    <img src="../static/images/woo.jpg" alt="featured one">
                    <p>광고문의</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="../static/images/woo.jpg" alt="featured two">
                    <p>광고문의</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="../static/images/woo.jpg" alt="featured three">
                    <p>광고문의</p>
                  </div>
                </a>
              </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2019 Company Name
              <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/transition.js"></script>
    <script src="../static/js/owl-carousel.js"></script>
    <script src="../static/js/custom.js"></script>

</body>


  </body>

</html>