<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style_css.css') }}">

</head>
<body>

    <div>

        페이지 이동 할까요?

        <a href="/">메인으로 이동</a>

    </div>

    <div class="zum_content">
        <h1>여기는 zum 인기검색어입니다.</h1>

        <ul>
            {% for i in range(0, zum_len) %}
            <a href="{{zum_href[i]}}"><li>{{ zum[i] }}</li></a>
            {% endfor %}
        </ul>

    </div>

    <div class="zum_content">
        <h1>여기는 오늘의유머</h1>
        <ul>

            {% for i in range(0, today_len) %}
            <a href="{{today_href[i]}}"><li>{{ today[i] }}</li></a>
            {% endfor %}

        </ul>

    </div>

    <div class="zum_content">
        <h1>여기는 클리앙</h1>
        <ul>
            {% for i in range(0, clien_len) %}
            <a href="{{clien_href[i]}}"><li>{{ clien[i] }}</li></a>
            {% endfor %}

        </ul>

    </div>



</body>
</html>