<!doctype HTML>
<head>
	<meta charset="UTF-8">
	<title>유치원 로그인</title>

	<link rel="stylesheet" href="login.css">
	<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="main-container">
		<div class="main-wrap">
		<header>
			<div class="sel-lang-wrap">
				<select class="lang-select">
					<option>한국어</option>
				
				</select>
			</div>
			<div class="logo-wrap">
				<img src="youchi.png">
			</div>
		</header>
		<section class="login-input-section-wrap">
			<div class="login-input-wrap">	
				<input placeholder="아이디입력" type="text"></input>
			</div>
			<div class="login-input-wrap password-wrap">	
				<input placeholder="비밀번호입력" type="password"></input>
			</div>
			<div class="login-button-wrap">
				 <button type="button" onclick="window.open('main.html') ">로그인</button>
			</div>
		
		</section>
		<section class="Easy-sgin-in-wrap">
			<h2>환영합니다.</h2>
            <td colspan="3" align="center" class="mem"> 
           
              	<a href="index.php">회원가입 하시겠습니까?</a>
           </td>
			<ul class="sign-button-list">
				<li><button><i class="fas fa-qrcode"></i><span>Sign in with QR code</span></button></li>
				<li><button><i class="fab fa-facebook-square"></i><span>Facebook</span></button></li>
				<li><button><i class="fab fa-line"></i><span>line</span></button></li>
			</ul>
	
		</section>
		<footer>
			<div class="copyright-wrap">
			
			</div>
		</footer>
		</div>
	</div>
    
</body>