<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>유치원</title>

    <!-- Bootstrap core CSS -->
 
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">
  
  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="/메인페이지">유치원</a>
                
              </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">

                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4> 기업 소개</h4>
                            <span> 스트리머 &amp; 편집자 모집 </span>
                          

                            <div class="primary-button">
                             <button type="button" onclick="window.open('../login.html') ">로그인</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <br>
            <br>
                <h2> 이번주 편집왕 </h2>
            <!-- Services -->
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="service-item first-item">

                      <video id="video" width=100% height=100% controls>
                        <source src="../static/images/video7.mp4">
                      </video>
                      <p> 영상 편집합니다!</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item second-item">
                      <video id="video" width=100% height=100% controls>
                        <source src="../static/images/video2.mp4">
                      </video>
                      <p> 영상 편집합니다!</p>
                      </video>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item third-item">
                      <video id="video" width=100% height=100% controls>
                        <source src="../static/images/video8.mp4">
                      </video>
                      <p> 영상 편집합니다!</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fourth-item">
                      <video id="video" width=100% height=100% controls>
                        <source src="../static/images/video4.mp4">
                      </video>
                      <p> 영상 편집합니다!</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fivth-item">
                      <video id="video" width=100% height=100% controls>
                        <source src="../static/images/video9.mp4">
                      </video>
                      <p> 영상 편집합니다!</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item sixth-item">
                      <video id="video" width=100% height=100% controls>
                        <source src="../static/images/video6.mp4">
                      </video>
                        <p> 영상 편집합니다!</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Top Image -->
            <section class="top-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../static/images/top-image.jpg" alt="">
                    <div class="down-content">
                      <h4>필요한 사람들</h4>
                      <p>영상을 올려서 돈을 받고 싶거나 편집을 하여서 돈을벌고싶은사람!</p>
                      <div class="primary-button">
                        <a href="#">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Left Image -->
            <section class="left-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <img src="../static/images/left-image.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <div class="right-content">
                      <h4>필요한 사람들</h4>
                      <p>고객과의 관계를 개선하기 위해 할 수 있는 가장 중요한 일은 무엇일까요? 이에 대한 답은 너무 당연해서 모두 무심코 지나갈 정도입니다. 바로 고객 서비스를 개선하는 것입니다. 제품이 얼마나 뛰어나든 직원들이 얼마나 재능이 있든 관계없이 고객들이 가장 잘 기억하는 것 중 한 가지는 회사와 직접적으로 가지는 교류입니다.

기본적으로 회사의 고객 서비스 팀은 회사의 얼굴이며 고객 경험은 고객들이 받는 지원 정도와 질로 그 좋은 정도가 결정됩니다.

탄탄한 회사는 이미 좋은 고객 관계를 형성하고 있습니다. 하지만 현명한 회사는 ‘무엇이 양질의 고객 서비스인가’를 항상 묻습니다. 양질의 고객 서비스는 고객이 필요로 하고 요구하는 바를 신중하게 경청하고 충족하는 것을 기반으로 합니다. 고객 서비스를 개선할 수 있는 기회를 포착하기 위해 항상 지켜보는 태세를 갖추어야만 고객과의 관계가 꾸준히 향상될 수 있습니다.
                      <div class="primary-button">
                        <a href="#">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Right Image -->
            <section class="right-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="left-content">
                      <h4>영상편집이란</h4>
                      <p>가장 먼저 촬영해 온 영상 중에서 편집에 사용할 OK컷을 골라내고,

그 다음에는 골라낸 OK컷들을 시나리오 내용에 따라 순서대로 배열하고 난 후,

마지막으로 컷의 길이를 조절하며 시간에 맞춰 영상과 오디오를 디테일하게 조절 하는데요.
이것을 편집의 3요소라고 말합니다.
​

편집 작업은 영상제작 작업 중에서도 나름 큰 비중을 차지하고 있습니다.  

과거 무성영화시절부터 시작된 영상작업이 지금처럼 발전된 영상이 되기까지

가장 큰 힘을 준 것이 바로 편집기술의 향상이었습니다.

​
또한 초기의 영상들은 촬영한 것을 단순 기록할 생각으로 시작되었으나

이제는 그와 비교되지 않는 여러 가지 복합된 내용을 전달하는데까지 이르렀습니다.</p>
                      <div class="primary-button">
                        <a href="#">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img src="../static/images/right-image.jpg" alt="">
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="/register.html" target='_blank'>회원가입</a></li>
                <li>
                  <span class="opener">모집</span>
                  <ul>
                    <li><a href="/albamon.html"> 편집자 모집 </a></li>
                    <li><a href="/albahaven.html"> 스트리머 공고 </a></li>
                    <li><a href="/index.html"> 데이터모음</a></li>
                  </ul>
                </li>
                <li>
                  <span class="opener">게시판</span>
                  <ul>
                    <li><a href="#">게시판</a></li>
                    <li><a href="#">QnA 게시판</a></li>
                  </ul>
                </li>
                <li><a href="https://www.google.com"></a></li>
              </ul>
            </nav>

            <!-- Featured Posts -->
            <div class="featured-posts">
              <div class="heading">
                <h2>광고 리스트</h2>
              </div>
              <div class="owl-carousel owl-theme">
                <a href="#">
                  <div class="featured-item">
                    <img src="../static/images/woo.jpg" alt="featured one">
                    <p>광고문의</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="../static/images/woo.jpg" alt="featured two">
                    <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="../static/images/featured_post_01.jpg" alt="featured three">
                    <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                  </div>
                </a>
              </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2019 Company Name
              <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
     <link rel="st" href="{{ url_for('static', filename='css/index_style_css.css') }}">
  
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/transition.js"></script>
    <script src="../static/js/owl-carousel.js"></script>
    <script src="../static/js/custom.js"></script>
</body>


  </body>

</html>
